/*----------------------------------------------------------------------------------------------------------------*/
/* Images */
.image_size_100 {
    max-width: 100px;
}
.CGridView_image_100 {
    width: 100px;
}
.CGridView_center {
    text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Other */
.CGridView_50 {
    width: 50px;
    text-align: center;
}
.CGridView_70{
    width: 70px;
    max-width: 70px;
    text-align: center;
}
.CGridView_100 {
    width: 100px;
    text-align: center;
}
.CGridView_120 {
    width: 120px;
    text-align: center;
}
.CGridView_150 {
    width: 150px;
    text-align: center;
}
.CGridView_200 {
    width: 200px;
    text-align: center;
}
.CGridView_300 {
    width: 300px;
    text-align: center;
}
.CGridView_text_padding {
    padding-left: 10px;
}
.CGridView_overflow {
    overflow: hidden;
    text-overflow: clip;
}