/*----------------------------------------------------------------------------------------------------------------*/
/* Header */
#header {
    position: relative;
}
#logo {
    margin-left: 107px;
}
#img_logo {
    position: absolute;
    top: 9px;
    left: 44px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Container */
.container {
    width: 1100px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Login/Registration */
.auth_wrapper {
    text-align: center;
}
#auth_error_summary {
    width: 280px;
    margin: 0 auto;
}
#auth_error_summary > ul > li {
    list-style-type: none;
}
.form_label_div {
    width: 80px;
    vertical-align: top;
    margin-top: 6px;
}
.form_label_div, .form_input_div, .auth_button {
    display: inline-block;
}
.auth_button {
    width: 255px;
    text-align: right;
}
.auth_action {
    margin-right: 45px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Content */
.column_3 {
    border: solid 2px #909090;
    margin: 10px 20px 0 128px;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* Export CSV */
.export_csv {
    text-align: right;
    padding-right: 5px;
}