/* redefinition base classes CPortlet, CGridView, CMenu, Pager,  */
/* Portlet */
.portlet-title {
    color: rgba(17, 17, 17, 0.8);
}
.portlet-decoration {
    background: rgba(128, 128, 128, 0.5);
    border-left: 5px solid rgba(128, 128, 128, 0.75);
}
.portlet-content {
    background: rgba(128, 128, 128, 0.2);
}
/* end Portlet */

/* CMenu */
.operations li a {
    color: rgba(68, 157, 68, 0.95);
}
.operations li a:visited {
    color: rgba(68, 157, 68, 0.95);
}
.operations li a:hover {
    background: rgba(128, 128, 128, 0.3);
}
/* end CMenu */

/* Page */
#page {
    border: 1px solid rgba(128, 128, 128, 0.3);
}
#header {
    border-top: 3px solid rgba(128, 128, 128, 0.7);
}
#footer {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}
a {
    color: rgba(207, 84, 80, 0.8);
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: rgba(207, 84, 80, 0.8);
    text-decoration: underline;
}
.a_alt a {
    color: #2870a0 !important;
}
#mainmenu ul li.active a {
    color: rgba(207, 84, 80, 0.8);
    background-color: rgba(255, 255, 255, 0.65);
}
#mainmenu ul li a:hover {
    color: rgba(207, 84, 80, 0.8);
    background-color: rgba(255, 255, 255, 0.65);
}
/* end Page */

/* CGridView */
.grid-view table.items tr.odd {
    background: rgba(190, 190, 190, 0.45) !important;
}
.grid-view table.items tbody tr:hover {
    background: rgba(47, 145, 47, 0.5) !important;
}
.grid-view table.items tr.selected {
    background: rgba(207, 84, 80, 0.5) !important;
}
.grid-view .filters option.selected {
    width: 100%;
    background: rgba(207, 84, 80, 0.8);
}
/* end CGridView */

/* Pager */
ul.yiiPager a:link, ul.yiiPager a:visited {
    border: solid 1px rgba(128, 128, 128, 0.5) !important;
    color: rgba(207, 84, 80, 0.8) !important;
}
ul.yiiPager .selected a {
    background: rgba(207, 84, 80, 0.8) !important;
    color: #FFFFFF !important;
}
ul.yiiPager .hidden a {
    color: #888888 !important;
}
/* end Pager */

/* CDetailView */
.odd {
    background: rgba(190, 190, 190, 0.45) !important;
}
/* end CDetailView */
/* end redefinition */