/*----------------------------------------------------------------------------------------------------------------*/
/* common */
#mainmenu_ul > li > a, #menu_h_ul > li > a {
    text-decoration: none;
}
#menu_h_ul > li:hover, #mainmenu_ul > li:hover {
    background-color: #E2E2E2;
}
#mainmenu_ul > li, #menu_h_ul > li {
    list-style-type: none;
    padding: 5px;
    border: solid 2px #909090;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* _main_menu */
#Widget_main_menu {
    width: 150px;
    float: left;
    margin-top: 20px;
}
#mainmenu_ul > li {
    margin: 2px 0;
}

/*----------------------------------------------------------------------------------------------------------------*/
/* _menu_h */
#Widget_menu_h {
    margin-bottom: 20px;
}
#menu_h_ul {
    margin: 0 0 0 6px;
    padding: 0;
    box-shadow: 5px 5px;
    display: inline-block;
}
#menu_h_ul > li {
    display: inline-block;
    margin-left: -6px;
}